.modal {
  width: 320px;
  min-height: 512px;
  @include telephone {
    width: 450px;
    min-height: 609px;
  }
  @include tablet {
    width: 450px;
    min-height: 609px;
  }
  background-color: var(--hero-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms linear;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scaleY(0);
  }
  @include desktop {
    width: 1200px;
    min-height: 581px;
  }
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  @extend %align;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--header-color);
  }
}

.questionnaire {
  margin-left: 20px;
  margin-right: 20px;
  min-height: 340px;
  @include desktop {
    margin-left: 40px;
    margin-right: 40px;
    min-height: 581px;
  }
}

.questionnaire iframe {
  width: 100%;
  margin-top: 40px;
  min-height: 500px;
  margin-bottom: 10px;
  @include desktop {
    margin-top: 10px;
    min-height: 581px;
  }
}
