.news {
  width: 100%;
  height: 100vh;
}

.news-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.news-title {
  font-family: "Nunito", sans-serif;
  @include font(600, 45px, 1.61, 0.06em);
}

.news-section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.news-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
