.photo {
  padding: 20px;
  padding-bottom: 50px;
  width: 100%;
  justify-content: center;
}

.photo-all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.photo-one {
  width: 200px;
  height: 140px;
  border-radius: 10px;
  @include desktop {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
  }
}

.photo-two {
  width: 200px;
  height: 140px;
  border-radius: 10px;
  @include desktop {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 4s ease, transform 4s ease;
  }
}

.photo-three {
  width: 200px;
  border-radius: 10px;
  height: 140px;
  @include desktop {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 6s ease, transform 6s ease;
  }
}

.photo-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  @include desktop {
    gap: 50px;
    flex-direction: row;
  }
}

.photo-list img {
  box-shadow: 12px 0px 10px rgba(0, 0, 0, 0.5);
}

.photo-title {
  font-family: "Nunito", sans-serif;
  @include font(600, 50px, 1.61, 0.06em);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

// .photo-tarif {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   gap: 100px;
// }

.street {
  margin-bottom: 30px;
}

.street-leonida {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  @include desktop {
    gap: 100px;
    flex-direction: initial;
  }
}

.street-title {
  @include font(600, 13px, 1.61, 0.06em);
  color: var(--header-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  @include desktop {
    font-family: "Nunito", sans-serif;
    @include font(600, 28px, 1.61, 0.06em);
  }
}

.tarif-item-one,
.tarif-item-two {
  border: 3px solid var(--header-color);
  border-radius: 15px;
  padding: 10px;
  background-color: #f1f1f1;
  width: 260px;
  @include desktop {
    width: 400px;
  }
}

.tarif-title {
  font-family: "Nunito", sans-serif;
  @include font(600, 15px, 1.61, 0.06em);
  display: flex;
  justify-content: center;
  @include desktop {
    @include font(600, 22px, 1.61, 0.06em);
  }
}

.tarif-text {
  font-family: "Nunito", sans-serif;
  @include font(600, 13px, 1.61, 0.06em);
  display: flex;
  justify-content: center;
  color: var(--header-color);
  @include desktop {
    @include font(600, 20px, 1.61, 0.06em);
  }
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
